@import '../../assets/scss/variables';

.switch {
  position: relative;
  width: 40px;
  height: 23px;
  background-color: var(--toggle-background);
  border-radius: 34px;
  margin-bottom: 30px
}

.slider {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 4px;
  background-color: #FFF;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.checked {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}